name: Build and Deploy Firebase Application

on:
  workflow_dispatch:
  
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        
      - name: Setup Node.js enviroment
        uses: actions/setup-node@v3
        with:
          node-version: 18
      
      - name: Install Dependencies & Build
        run: |
          npm ci --silent
          npm run build
        working-directory: "MyApp/"
        
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.2
        with:
          name: build
          path: "MyApp/build"
          ignore: node_modules

    
