name: Build and Deploy Firebase Application

on:
  workflow_dispatch:
  
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3.5.3
        
      - name: Setup Node.js enviroment
        uses: actions/setup-node@v2.5.2
        with:
          -node-version: 18.x
      
      - name: Install Dependencies & Build
        run: |
          npm ci --silent
          npm run build
        working-directory: "MyApp/"
        
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.2
        with:
          name: build
          path: build

    
